name: Build and Publish WineQuality API Container

on:
  workflow_dispatch: # Allows manual triggering of the workflow
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      
jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set lowercase repository owner
        id: vars
        run: echo "repo_owner_lc=$(echo '${{ github.repository_owner }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/${{ env.repo_owner_lc }}/wine_api:latest
            ghcr.io/${{ env.repo_owner_lc }}/wine_api:${{ github.sha }}

      - name: Output image name
        run: echo "Pushed image ghcr.io/${{ env.repo_owner_lc }}/wine_api:latest"
